absl-py @ file:///home/conda/feedstock_root/build_artifacts/absl-py_1673535674859/work
aiohttp @ file:///home/conda/feedstock_root/build_artifacts/aiohttp_1676292674678/work
aiosignal @ file:///home/conda/feedstock_root/build_artifacts/aiosignal_1667935791922/work
alabaster==0.7.13
appdirs==1.4.4
ase @ git+https://gitlab.com/ase/ase.git@02361342b06cbbc95a40b67a0949cc12440532a1
asttokens==2.2.1
astunparse @ file:///home/conda/feedstock_root/build_artifacts/astunparse_1610696312422/work
async-timeout @ file:///home/conda/feedstock_root/build_artifacts/async-timeout_1640026696943/work
attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1671632566681/work
autopep8==2.0.1
Babel==2.11.0
backcall==0.2.0
blessed==1.19.1
blinker @ file:///home/conda/feedstock_root/build_artifacts/blinker_1664823096650/work
brotlipy @ file:///home/conda/feedstock_root/build_artifacts/brotlipy_1666764672617/work
cached-property @ file:///home/conda/feedstock_root/build_artifacts/cached_property_1615209429212/work
cachetools @ file:///home/conda/feedstock_root/build_artifacts/cachetools_1674482203741/work
cairocffi==1.5.0
CairoSVG==2.7.0
certifi==2022.12.7
cffi @ file:///home/conda/feedstock_root/build_artifacts/cffi_1671179360775/work
cfgv==3.3.1
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1661170624537/work
click @ file:///home/conda/feedstock_root/build_artifacts/click_1666798198223/work
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1666700638685/work
contourpy @ file:///home/conda/feedstock_root/build_artifacts/contourpy_1673633659350/work
cryptography @ file:///home/conda/feedstock_root/build_artifacts/cryptography-split_1672672393437/work
cssselect2==0.7.0
curtsies==0.4.1
cwcwidth==0.1.8
cycler @ file:///home/conda/feedstock_root/build_artifacts/cycler_1635519461629/work
Cython==0.29.32
datasets==1.18.3
decorator==5.1.1
defusedxml==0.7.1
dgl-cu116==0.9.1.post1
dglgo==0.0.2
dill==0.3.6
distlib==0.3.6
dnspython==2.3.0
docker-pycreds==0.4.0
docopt==0.6.2
docutils==0.19
e3nn==0.5.1
einops==0.6.1
element-coder==0.0.8
emmet-core==0.39.11
exceptiongroup @ file:///home/conda/feedstock_root/build_artifacts/exceptiongroup_1678703645500/work
executing==1.2.0
fairscale==0.4.13
fast-ml==3.68
filelock==3.10.7
flatbuffers @ file:///home/conda/feedstock_root/build_artifacts/python-flatbuffers_1674415895114/work
fonttools @ file:///home/conda/feedstock_root/build_artifacts/fonttools_1680021155848/work
frozenlist @ file:///home/conda/feedstock_root/build_artifacts/frozenlist_1667935428519/work
fsspec==2023.3.0
future @ file:///home/conda/feedstock_root/build_artifacts/future_1673596611778/work
gast==0.4.0
gitdb==4.0.10
GitPython==3.1.31
gmpy2 @ file:///home/conda/feedstock_root/build_artifacts/gmpy2_1666808679441/work
google-auth @ file:///home/conda/feedstock_root/build_artifacts/google-auth_1680041543385/work
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
-e git+https://github.com/LLNL/graphite.git@4491edb129b7f521f4298639c60489495b330adf#egg=graphite
greenlet @ file:///home/conda/feedstock_root/build_artifacts/greenlet_1674937647044/work
grpcio==1.54.0
h5py @ file:///home/conda/feedstock_root/build_artifacts/h5py_1624405615966/work
huggingface-hub==0.11.1
identify==2.5.12
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1663625384323/work
imageio==2.27.0
imagesize==1.4.1
importlib-metadata @ file:///home/conda/feedstock_root/build_artifacts/importlib-metadata_1679167925176/work
importlib-resources @ file:///home/conda/feedstock_root/build_artifacts/importlib_resources_1676919000169/work
iniconfig @ file:///home/conda/feedstock_root/build_artifacts/iniconfig_1673103042956/work
iodata==0.1.3
ipython==8.12.0
isort==5.11.4
jax==0.4.8
jaxlib==0.4.7
jedi==0.18.2
Jinja2==3.1.2
joblib==1.2.0
jsonschema==4.17.3
keras==2.12.0
Keras-Preprocessing @ file:///home/conda/feedstock_root/build_artifacts/keras-preprocessing_1610713559828/work
kiwisolver @ file:///home/conda/feedstock_root/build_artifacts/kiwisolver_1666805784128/work
latexcodec==2.0.1
lazy_loader==0.2
libclang==16.0.0
lightning-utilities==0.8.0
littleutils==0.2.2
loguru==0.6.0
Markdown @ file:///home/conda/feedstock_root/build_artifacts/markdown_1679584000376/work
MarkupSafe @ file:///home/conda/feedstock_root/build_artifacts/markupsafe_1674135804847/work
matminer==0.8.0
matplotlib @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-suite_1678135567769/work
matplotlib-inline==0.1.6
mkl-service==2.4.0
ml-dtypes==0.1.0
# Editable install with no version control (mofdscribe==0.0.8.dev0)
-e /scratch/bbke/ray16/mofdscribe
monty==2022.9.9
mp-api==0.30.8
mpmath @ file:///home/conda/feedstock_root/build_artifacts/mpmath_1678228039184/work
msgpack @ file:///home/conda/feedstock_root/build_artifacts/msgpack-python_1678312698172/work
multidict @ file:///home/conda/feedstock_root/build_artifacts/multidict_1672339396340/work
multiprocess==0.70.14
munkres==1.1.4
networkx @ file:///home/conda/feedstock_root/build_artifacts/networkx_1673151334029/work
nodeenv==1.7.0
nose==1.3.7
numpy==1.23.5
numpydoc==1.5.0
oauthlib @ file:///home/conda/feedstock_root/build_artifacts/oauthlib_1666056362788/work
ogb==1.3.5
opt-einsum @ file:///home/conda/feedstock_root/build_artifacts/opt_einsum_1617859230218/work
opt-einsum-fx==0.1.4
outdated==0.2.2
p-tqdm==1.4.0
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1673482170163/work
palettable==3.3.0
pandas==1.4.2
parso==0.8.3
pathos==0.3.0
pathtools==0.1.2
pexpect==4.8.0
pickleshare==0.7.5
Pillow @ file:///home/conda/feedstock_root/build_artifacts/pillow_1675487166627/work
Pint @ file:///home/conda/feedstock_root/build_artifacts/pint_1666886773853/work
platformdirs @ file:///home/conda/feedstock_root/build_artifacts/platformdirs_1678652433955/work
plotly @ file:///home/conda/feedstock_root/build_artifacts/plotly_1677271849976/work
pluggy @ file:///home/conda/feedstock_root/build_artifacts/pluggy_1667232663820/work
pooch @ file:///home/conda/feedstock_root/build_artifacts/pooch_1679580333621/work
pox==0.3.2
ppft==1.7.6.6
pre-commit==2.21.0
prompt-toolkit==3.0.38
protobuf==4.22.3
psutil @ file:///home/conda/feedstock_root/build_artifacts/psutil_1667885909637/work
ptyprocess==0.7.0
pure-eval==0.2.2
py-cpuinfo @ file:///home/conda/feedstock_root/build_artifacts/py-cpuinfo_1666774466606/work
pyarrow==10.0.1
pyasn1==0.4.8
pyasn1-modules==0.2.7
pybtex==0.24.0
pycairo==1.23.0
PyCifRW==4.4.5
pycodestyle==2.10.0
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1636257122734/work
pydantic @ file:///home/conda/feedstock_root/build_artifacts/pydantic_1679565256950/work
pyg-lib==0.2.0+pt113cu117
Pygments==2.14.0
PyJWT @ file:///home/conda/feedstock_root/build_artifacts/pyjwt_1666240235902/work
pymatgen==2023.3.23
pymongo==4.3.3
pyOpenSSL @ file:///home/conda/feedstock_root/build_artifacts/pyopenssl_1680037383858/work
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/pyparsing_1652235407899/work
pyrsistent==0.19.3
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1661604839144/work
pystow==0.5.0
pytest==7.2.2
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1626286286081/work
pytorch-lightning==2.0.1
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1679742222779/work
pyu2f @ file:///home/conda/feedstock_root/build_artifacts/pyu2f_1604248910016/work
PyWavelets==1.4.1
PyYAML @ file:///home/conda/feedstock_root/build_artifacts/pyyaml_1666772387118/work
qcelemental @ file:///home/conda/feedstock_root/build_artifacts/qcelemental_1667269562094/work
qcengine @ file:///home/conda/feedstock_root/build_artifacts/qcengine_1660687484034/work
ray==2.3.1
rdkit==2022.9.5
rdkit-pypi==2022.9.3
regex==2023.3.23
reportlab @ file:///home/conda/feedstock_root/build_artifacts/reportlab_1671121821275/work
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1673863902341/work
requests-oauthlib @ file:///home/conda/feedstock_root/build_artifacts/requests-oauthlib_1643557462909/work
rsa @ file:///home/conda/feedstock_root/build_artifacts/rsa_1658328885051/work
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.7
sacremoses==0.0.53
scikit-image==0.20.0
scikit-learn==1.2.2
scipy==1.9.1
seaborn==0.12.2
sentry-sdk==1.18.0
setproctitle==1.3.2
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
smmap==5.0.0
snowballstemmer==2.2.0
spglib==2.0.2
Sphinx==6.1.3
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
sphinxcontrib.applehelp==1.0.3
SQLAlchemy @ file:///home/conda/feedstock_root/build_artifacts/sqlalchemy_1679231804673/work
stack-data==0.6.2
structuregraph-helpers==0.0.9
sympy @ file:///home/conda/feedstock_root/build_artifacts/sympy_1679342590084/work
tabulate @ file:///home/conda/feedstock_root/build_artifacts/tabulate_1665138452165/work
tenacity @ file:///home/conda/feedstock_root/build_artifacts/tenacity_1677600641219/work
tensorboard==2.12.2
tensorboard-data-server==0.7.0
tensorboard-plugin-wit @ file:///home/conda/feedstock_root/build_artifacts/tensorboard-plugin-wit_1641458951060/work/tensorboard_plugin_wit-1.8.1-py3-none-any.whl
tensorflow==2.12.0
tensorflow-estimator==2.12.0
tensorflow-io-gcs-filesystem==0.32.0
termcolor @ file:///home/conda/feedstock_root/build_artifacts/termcolor_1672833821273/work
threadpoolctl==3.1.0
tifffile==2023.4.12
timeout-decorator==0.5.0
tinycss2==1.2.1
tokenizers==0.13.2
tomli @ file:///home/conda/feedstock_root/build_artifacts/tomli_1644342247877/work
torch==1.13.0
torch-cluster==1.6.1+pt113cu117
torch-geometric==2.3.1
torch-scatter==2.1.1+pt113cu117
torch-sparse==0.6.17+pt113cu117
torch-spline-conv==1.2.2+pt113cu117
torchaudio==0.13.0
torchmetrics==0.11.4
torchvision==0.14.0
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1677948868469/work
traitlets==5.9.0
transformers==4.28.1
typer==0.7.0
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1678559861143/work
uncertainties==3.1.7
unicodedata2 @ file:///home/conda/feedstock_root/build_artifacts/unicodedata2_1667239485250/work
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1678635778344/work
virtualenv==20.17.1
wandb==0.14.0
wcwidth==0.2.6
webencodings==0.5.1
Werkzeug @ file:///home/conda/feedstock_root/build_artifacts/werkzeug_1676411946679/work
wrapt==1.14.1
xxhash==3.2.0
yarl @ file:///home/conda/feedstock_root/build_artifacts/yarl_1672340978046/work
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1677313463193/work
